/*Project: Zhonghe's personal website-- version3.0*/


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700');


/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */
html {
  scroll-behavior: smooth;
}



body {
	background: #FFFFFF;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 300;
	/*overflow: hidden;*/
}

.home-menu {
	width: 6%;

}



/* ------------------------------------------------------------------
Page Laoder
------------------------------------------------------------------ */

.page-loader {
	top: 0px;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 10;
	margin: 0;
	position: fixed;


/* loader页面消失采用渐隐的方式*/
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;	
}

.fadeout {
    opacity: 0;
}

.fadein {
	opacity: 1;
}

.loaderBar {
	width: 0vw;
	height: 5px;
	background-color: #EBCFB2;
	animation: barGrow 2.8s ease forwards;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	animation: fillColor 0.5s ease forwards 2.3s ;

}

#loader path:nth-child(1) {
	stroke-width:5;
	stroke-dasharray: 557;
	stroke-dashoffset:557;
	animation: lineAnim 2s ease forwards ;
}

#loader path:nth-child(2) {
	stroke-width:5;
	stroke-dasharray: 892;
	stroke-dashoffset:892;	
	animation: lineAnim 2s ease forwards ;

}


@keyframes barGrow {
	to {
		width: 100vw;
	}

}

@keyframes lineAnim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fillColor {
	to {
		fill:#EBCFB2;
	}
}



/*-------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

a {
	color: rgba(17, 17, 17, 0.55);
}

a:hover, a:focus {
	text-decoration: none;
	color: #111;
	outline: 0;
}

.bg-dark a {
	color: #aaa;
}

.bg-dark a:hover,
.bg-dark a:focus {
	color: #fff;
}

.text-light {
	color: rgba(255, 255, 255, 0.7);
}

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6,
.text-light .h1, .text-light .h2, .text-light .h3, .text-light .h4, .text-light .h5, .text-light .h6 {
	color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.4;
	font-weight: 400;
	color: #111;
}

h1, .h1 {
	font-size: 28px;
}

h2, .h2 {
	font-size: 24px;
}

h3, .h3 {
	font-size: 18px;
}

h4, .h4 {
	font-size: 16px;
}

h5, .h5 {
	font-size: 14px;
}

h6, .h6 {
	font-size: 12px;
}

p {
	font-size: 16px;
}

p, ol, ul, blockquote {
	margin: 10px 0px 10px;
}

blockquote {
	border-color: #f7f7f7;
}

blockquote.serif-quote {
	border: 0;
	padding-left: 0;
	padding-right: 0;
}


.font-cap {
	text-transform: capitalize;
}

.font-upper {
	text-transform: uppercase;
}

.font-bold {
	font-weight: 800;
}

.font-reg {
	font-weight: 500;
}

.font-thin {
	font-weight: 300;
}

.font-serif {
	font-family: "Libre Baskerville", "Times New Roman", sans-serif;
	letter-spacing: 1px;
	font-style: italic;
}

.rotate {
	text-shadow: none !important;
}



/* ------------------------------------------------------------------
Buttons
------------------------------------------------------------------- */

.btn {
	text-transform: uppercase;
	margin: 15px;
	color: white;
	padding: 12px 32px;	
	font-size: 14px;
	-webkit-border-radius: 32px;
	   -moz-border-radius: 32px;
	     -o-border-radius: 32px;
	        border-radius: 32px;
}



/* ------------------------------------------------------------------
Social links
------------------------------------------------------------------- */

.social-text-links,
.social-icon-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socicon-round > li > a {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
}

.socicon-circle > li > a {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	     -o-border-radius: 100%;
	        border-radius: 100%;
}

.social-text-links > li {
	display: inline-block;
	margin: 0 10px 20px;
}

.social-icon-links > li {
	display: inline-block;
	margin: 0 5px 10px 0;
}

.social-icon-links > li > a {
	display: inline-block;
	background: #f7f7f7;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #111;
}

.social-icon-links > li > a:hover {
	background: #f0f0f0;
}



/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------- */

.navBar {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 10px 20px 10px 20px;
	z-index: 2;
    height: auto;
    background-color: white;
    border-bottom: solid thin lightgray;	
	transition: top 0.3s;
}

.home-container {
	float: left;	
}

.navBar img {
	filter: grayscale(100%);
	width: 30px;
	transition: 1s;
}

.navBar img:hover {
	filter: grayscale(0%);
}

.navBar a {
	float: right;
	padding: 0px 10px 0px 10px;
}

.navBar span {
}

.navBar a > i {
	font-weight: 600;
}


.navBar .nav > li > a:focus,
.navBar .nav > li > a:hover, {
	background: none;
	color: rgba(255, 255, 255, 0.7);
}







/* ------------------------------------------------------------------
Selection
------------------------------------------------------------------ */

::-moz-selection {
	background: #000;
	color: #fff;
}

::-webkit-selection {
	background: #000;
	color: #fff;
}

::selection {
	background: #000;
	color: #fff;
}


/* ------------------------------------------------------------------
index page
------------------------------------------------------------------ */
.main-content {
	left: 80px;
}


.timeline {
	margin-top: 10%;
	margin-left: 8%;
	display: inline-block;
	width: 50%;
	position: fixed;
}

/*
.timeline-title {
	background-image: url("../../images/Background_landing.png");
	background-size: 100%;
}
*/

.non-bullet-ul {
	list-style: none;
	padding: 0;
	margin: 5px 40px;
}

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.home-title p{
	font-size: 56px;
	font-weight: bold;
	padding-top: 100px;
/*	animation: myOpacity 2s ease-in-out;
	-webkit-animation: myOpacity 2s ease-in-out; */
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;	
}

.content-title {
	font-size: 16px;
	font-weight: 500;
}

.timeline button {
	background-color: rgba(0, 0, 0, 0.8);
	transition: background-color 1s ease;
}

.timeline button:hover {
	background-color: rgba(0, 0, 0, 1);
}


.timeline button > a {
	color: white;
}

.timeline button > a:hover {
	color: white;
}

.timeline a {
	color: black;
}

.Links a {
	color: rgba(17, 17, 17, 0.7);
	transition: color 1s ease;
	margin: 0px 10px 0px 10px;
}

.Links a:hover {
	color: rgba(17, 17, 17, 1);
}

#introBackground {
	height: 250px;
	position: absolute;
	left: -50px;
	top: 0px;
	z-index: -1;
}

.projects {
	margin-top: 5%;
}

.works {
	margin-top: 5%;
}

.project-item a p{
	display: inline-block;
	position: relative;
}

.project-item a span{
	display: inline-block;
	font-style: italic;	
}

.activeYEDashboard a{
	color: #3EA1B6;	
}

.activeYEDashboard a:hover{
	color: #3EA1B6;	
}

.activeYEDashboard a p:after {
    content: "";
    height: .8em;
    position: absolute;
    bottom: -.1em;
    left: -.8em;
    z-index: -1;	
	width: 100%;
	background-color: #CAEBF2;			
	animation: spread 0.3s;
	-moz-animation:spread 0.3s; /* Firefox 4 */
	-webkit-animation:spread 0.3s; /* Safari and Chrome */
	-o-animation:spread 0.3s; /* Opera */
}

.activeRuleBuilder a{
	color: #EC6773;	
}

.activeRuleBuilder a:hover{
	color: #EC6773;	
}

.activeRuleBuilder a p:after {
    content: "";
    height: .8em;
    position: absolute;
    bottom: -.1em;
    left: -.8em;
    z-index: -1;	
	width: 100%;
	background-color: #FCE7E9;			
	animation: spread 0.3s;
	-moz-animation:spread 0.3s; /* Firefox 4 */
	-webkit-animation:spread 0.3s; /* Safari and Chrome */
	-o-animation:spread 0.3s; /* Opera */
}


.activeMobileOnboarding a{
	color: #3CC1A3;	
}

.activeMobileOnboarding a:hover{
	color: #3CC1A3;	
}

.activeMobileOnboarding a p:after {
    content: "";
    height: .8em;
    position: absolute;
    bottom: -.1em;
    left: -.8em;
    z-index: -1;	
	width: 100%;
	background-color: #E7FCFA;			
	animation: spread 0.3s;
	-moz-animation:spread 0.3s; /* Firefox 4 */
	-webkit-animation:spread 0.3s; /* Safari and Chrome */
	-o-animation:spread 0.3s; /* Opera */
}

.activePolicyEligibility a{
	color: #E3AA50;	
}

.activePolicyEligibility a:hover{
	color: #E3AA50;	
}

.activePolicyEligibility a p:after {
    content: "";
    height: .8em;
    position: absolute;
    bottom: -.1em;
    left: -.8em;
    z-index: -1;	
	width: 100%;
	background-color: #FCF9E7;			
	animation: spread 0.3s;
	-moz-animation:spread 0.3s; /* Firefox 4 */
	-webkit-animation:spread 0.3s; /* Safari and Chrome */
	-o-animation:spread 0.3s; /* Opera */
}



/* ------------------------------------------------------------------
animation on index page
------------------------------------------------------------------ */

/*hover animation on menu*/
@keyframes spread {
from {width: 0px;}
to {width: 100%;}
}

@-webkit-keyframes spread {
from {width: 0px;}
to {width: 100%;}
}

/*animation on workDetails*/
@keyframes spreadHalf {
from {width: 0%;}
to {width: 50%;}
}

@-webkit-keyframes spreadHalf {
from {width: 0%;}
to {width: 50%;}
}



/* ------------------------------------------------------------------
index page
------------------------------------------------------------------ */

html, body {
    margin: 0;
    padding: 0;
}


#workContainer {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50vw;
	height: 100vh;
}

.workDetails {
}

.workContent {
	visibility: visible;
    text-align: right;
    position: relative;
    height: 100vh;
}

.workContent section {
	position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%,-50%);
}


.workContent img {
	opacity: 0%;
    height: 100%;
    max-height: 60vh;	
    width: auto;
    margin-bottom: 30px;
}

.project-name {
	font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.project-link {
	font-weight: 500;
	padding-top: 20px;
	opacity: 0.7;
	transition: opacity 1s ease;
}

.project-link:hover {
	opacity: 1;
}

.workContent p {
	opacity: 0%;
}


.workBackground {
	width: 0%;
	height: 100vh; 
	background-color: #F2F7F8; 
	position: absolute; 
	top: 0px; 
	right: 0px; 
	z-index: -1;
}

.activeWorkContent {
	visibility: visible;
}

.activeWorkContent img {	
	animation: fadeUp 0.5s ease-in-out;
	animation-delay: 0.5s;	
	animation-fill-mode: forwards;	
}

.activeWorkContent p {
	animation: fadeUp 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;	
}

.activeWorkContent div {
	animation: spreadHalf 0.5s ;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}



.project-des-item {

}

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/pro-des1.png")
}

.preview img {
	padding: 10px 10px 0px 10px;
	width: 100%;
}

.preview video {
	padding: 10px 10px 0px 10px;
	width: 100%;
}

.projectHeader {
    display: flex;
    flex-direction: column;
    align-items: center;	
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px 40px 0px 40px;

}

.description button {
	background-color: #4A90E2;

}

.description button a{
	color: white;

}

.project-overview {
	padding-top: 40px;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: #F8F8F8;
}


/* ------------------------------------------------------------------
animation on index page
------------------------------------------------------------------ */

/*hover animation on menu*/
@keyframes spread {
from {width: 0px;}
to {width: 100%;}
}

@-webkit-keyframes spread {
from {width: 0px;}
to {width: 100%;}
}

/*animation on work details background*/
@keyframes spreadHalf {
from {width: 0%;}
to {width: 50%;}
}

@-webkit-keyframes spreadHalf {
from {width: 0%;}
to {width: 50%;}
}

/*animation on work details */
@keyframes fadeUp {
from {
	opacity: 0;
	transform: translateY(-20px);
}
to {
	opacity: 1;
	transform: translateY(0px);
}
}

@-webkit-keyframes fadeUp {
from {
	opacity: 0;
	transform: translateY(-20px);
}
to {
	opacity: 1;
	transform: translateY(0px);
}
}




/* ------------------------------------------------------------------
Transition elsements
------------------------------------------------------------------- */

a,
.btn,
.navbar a {
	-webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	   -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	     -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	        transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.overlay-menu {
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
	    -ms-transition: all 0.4s ease-in-out 0s;
	     -o-transition: all 0.4s ease-in-out 0s;
	        transition: all 0.4s ease-in-out 0s;
}



/* ------------------------------------------------------------------
Project Page
------------------------------------------------------------------- */

/*menu*/
.project-menu {
	opacity: 0;
    height: 100vh; 
    width: 20vw; 
    position: fixed; 
    z-index: 1; 
    top: -50px; 
    left: 0;
    padding-top: 20px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
	    -ms-transition: all 0.4s ease-in-out 0s;
	     -o-transition: all 0.4s ease-in-out 0s;
	        transition: all 0.4s ease-in-out 0s;
}

.active-project-menu {
	opacity: 1;
    height: 100vh; 
    width: 20vw; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    padding-top: 20px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
	    -ms-transition: all 0.4s ease-in-out 0s;
	     -o-transition: all 0.4s ease-in-out 0s;
	        transition: all 0.4s ease-in-out 0s;	
}

.menu-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu-content ul {
	padding-left: 0px;
	border-top: thin solid lightgrey;
}

.menu-content ul> li{
	list-style: none;
	padding: 5px 0px 5px 0px;
}


.activeMenu {
	color: #D65C38;
}


/*project cover*/
.projectCover {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
}

.projectCover img{
	height: 100%;
}

/*project basic info*/
.basicInfo {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: black;
	height: 20vh;
}

.basicInfo div{
	text-align: left;
}

.basicInfo h3, 
.basicInfo div> h4, 
.basicInfo div> p {
	color: white;
}


/*main project contents*/
.project-main {
	margin-left: 20vw;
	width: 70vw;
	display: inline-block;
	letter-spacing: 1px;
}

.highlight-font {
	background-color: #EDE9C1;	

}

.section-lg {}

.section-medium {
	margin: 30px 0px 50px 0px;
}

.section-sm {
	margin: 0% 10% 10% 10%;
}

.design-point {
	margin: 10% 0px 10% 0px;
}

.project-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 50px;
}

.dec-line {
	width: 100px;
	border-top: thin solid lightgrey;
}

.project-header h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.project-header h6 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.project-main iframe{
	margin-top: 20px;
}

.YT-video-container {
	position: relative; 
	height: 500px;
}

.YT-video-container div{
	position: absolute; 
	width: 580px; 
	z-index: -1;
}

.project-content h3 {
	font-size: 18px;
	font-weight: 800;
	text-transform: capitalize;
	margin-top: 0px;
}


.project-content h4 {
	font-size: 14px;
	font-weight: 800;
	color: #9B9B9B;
    text-transform: uppercase;		
}

.project-content h5 {
	font-size: 36px;
	font-weight: 800;
	color: #3FBAC8;
}

.project-content img{
	width: 80%;
	margin: 20px auto 40px 10%;
}

.result {
	margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

.icon-container i {
    font-size: 36px;
/*    position: relative;
    top: 22px;*/
}

/* Tooltip container */
.my-tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.my-tooltip .tooltiptext {
	visibility: hidden;
    width: 400px;
    top: 30px;
    left: 0px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    padding: 10px;
}

.my-tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.my-tooltip:hover .tooltiptext {
	visibility: visible;
}


.img-lg-container {
	border-top: solid thin lightgrey;
    transform: translate(0px, -50px);
}

.img-md {
	width: 100%;
	margin: 20px 0px 40px auto;	
}



.project-content video{
	width: 80%;
	margin-bottom: 40px;
}

.flex-evenly {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}

.flex-evenly img {
	width: 80%;
	margin: 20px 10% 0px 10%;
}

.long-img img {
	height: 300px;
	width: 30px;
}

.design-img img{
	width: 90%;
	margin: 20px 0px 10px 0px;
}

.half-width {
	width: 50%;
}

.flex-container {
	display: flex;
}

.text-align-center {
	text-align: center;
}

.center-align-horizontal {
	justify-content: center;
}
/*
.design-annotation {
	left: 75%;
}*/

.padding-medium {
	padding-bottom: 20px;
}


.challenge-container {
    width: 100vw;
    transform: translate(-20vw, -70px);
    border-top: solid thin lightgray;
    display: flex;
}

.challenge {
    padding: 20px 40px 20px 20vw;
    width: 60%;
    background-color: #FAFAFA;
}

.solution {
	padding: 20px 10vw 20px 40px;
    background-color: black;
}

.solution p,.solution h4,.solution ol,.solution li {
	color: #FFFFFF;
}

.project-content p, ul{

}

.project-details {
	margin-left: 15%;
	width: 70%;
	margin-top: 40px;
	margin-bottom: 40px;
}


.details-image {
	width: 45%;
	display: inline-block;
}

.details-text {
	width: 45%;
	display: inline-block;
	vertical-align: top; 
	margin-left:5%;

}

.details-title {
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
}

.section-dissection {
    font-size: 14px;
    padding-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 15%;
    width: 70%;}


.img-annotation {
	font-size: 14px;
	font-style: italic;
	font-weight: thin;
}

.project-content video {
	width: 100%;
}
/* ------------------------------------------------------------------
Carousel
------------------------------------------------------------------- */

* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {display: none}


/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: 30px 0px 50px 0px;
}

.slideshow-container img {
	width: 100%;
	margin: 0px;
}

.slideshow-container video {
	width: 100%;
	margin: 0px;
}

/* previous buttons */
.prev {
	left: 0px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}

/* next buttons */
.next {
	right: 0px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: black;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	user-select: none;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
	background-color: #f1f1f1;
	color: black;
}

.dotContainer {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
}

/* The dots/bullets/indicators */
.dots1, .dots2, .dots3, .dots4, .dots5 {
	cursor: pointer;
	height: 5px;
	width: 30px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 2px;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dots1:hover, .dots2:hover, .dots3:hover, .dots4:hover, .dots5:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.video-container {
	position: absolute;
    z-index: 1;
    width: 55%;
    top: 14.5%;
    left: 8.5%;
}



/*other project*/
.link {
	display: flex;
}

.projectLink {
	width: 45vw;
}

.projectLink-left {
	padding-left: 20vw;
	padding-top: 20px;
}

.projectLink-right {
	padding-top: 20px;
    /* padding-right: 15vw; */
    padding-left: 20px;
}

.projectLink h1{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.projectLink p{
    font-style: italic;
}

.homeAndContact {
    height: 250px;
    width: 10vw;
    background-color: black;
    color: white;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeAndContact a{
	color: white;
	font-size: 24px;
}


/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

@media (min-width: 768px) {

	/* Comments */

	.comment .comment {
		margin-left: 100px;
	}

}


@media (max-width: 992px) {

	/* Hero captions */

	.mh-line-size-1 {
		letter-spacing: 40px;
		font-size: 26px;
	}

	.mh-line-size-2 {
		letter-spacing: 28px;
		font-size: 20px;
	}

	.mh-line-size-3 {
		letter-spacing: 20px;
		font-size: 22px;
	}

	.mh-line-size-4 {
		letter-spacing: 8px;
		font-size: 16px;
	}

	/* Portfolio grid */

	.work-item,
	.grid-sizer {
		width: 33.3333%;
	}

	.work-item.wide,
	.work-item.wide-tall {
		width: 66.6666%;
	}

}

@media only screen and (max-width: 767px) {

	/* Side and overlay nav */
	.overlay-menu.active {
		position: absolute;
	}
	.aux-navigation-active .wrapper{
		position: fixed;
	}
	.aux-navigation-active .side-navigation-wrapper,
	.aux-navigation-active .overlay-menu {
		position: absolute;
	}

	/*----------------------------*/
	.navBar {
		position: absolute;
		top: 0;
		width: 100%;
	}

}

@media (min-width: 768px) {
	#icons-navbar {
		display:none;
	}


	.affix {
	    top:100px;
	}
}

@media (max-width: 767px) {

	/* Hero captions */

	.mh-line-size-1 {
		letter-spacing: 24px;
		font-size: 26px;
	}

	.mh-line-size-2 {
		letter-spacing: 16px;
		font-size: 15px;
	}

	.mh-line-size-3 {
		letter-spacing: 14px;
		font-size: 14px;
	}

	.mh-line-size-4 {
		letter-spacing: 4px;
		font-size: 14px;
	}

	.mh-line-size-5 {
		letter-spacing: 2px;
		font-size: 13px;
	}

	.mh-line-size-6 {
		font-size: 13px;
	}

	/* Navbar */

	.extra-navbar {
		display: none;
	}

	/* Portfolio filters */

	.filters li {
		display: block;
		margin: 0 10px 10px;
	}

	.filters li:last-child {
		margin: 0 10px 140px;
	}

	/* Portfolio grid */

	.work-item,
	.grid-sizer {
		width: 50%;
	}

	.work-item.wide,
	.work-item.wide-tall {
		width: 100%;
	}

}

@media (max-width: 500px) {

	/* Hero captions */

	.mh-line-size-1 {
		letter-spacing: 12px;
		font-size: 26px;
	}

	.mh-line-size-2 {
		letter-spacing: 6px;
		font-size: 14px;
	}

	.mh-line-size-3 {
		letter-spacing: 4px;
		font-size: 13px;
	}

	.mh-line-size-4 {
		letter-spacing: 4px;
		font-size: 12px;
	}

	.mh-line-size-5 {
		letter-spacing: 2px;
		font-size: 11px;
	}

	.mh-line-size-6 {
		font-size: 12px;
	}

	/* Portfolio grid */

	.work-item,
	.grid-sizer {
		width: 100%;
	}

	.work-item.wide,
	.work-item.wide-tall {
		width: 100%;
	}

}


/* -------------------------------------------------------------------
Back To Top
------------------------------------------------------------------- */

#top{
    position: fixed;
    bottom: 30px;
    right: 50px;
    background-color: white;
    width: 50px;
    height: 50px;
    border:solid thin rgba(0,0,0,0.5);
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#top i{
    color: rgba(0,0,0,0.5);
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#top:hover{
    border:solid thin rgba(0,0,0,1);
}

#top:hover i{
    color: rgba(0,0,0,1);
}


.projects ul {
	width: 100%;
}


/* -------------------------------------------------------------------
Multi-columns-row
------------------------------------------------------------------- */

@media (min-width: 1600px) {

.project-des {
    position: absolute;
    width: 50%;
    right: 0;
    display: inline-block;
}

}

